AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

CLIENT_CREDENTIALS_TABLE=Client_Credentials
EMPLOYEE_PROFILES_TABLE=Employee_Profiles
PHOTO_BUCKET=peoplesuite-employee-photos-brunda

CLIENT_ID=testclient
CLIENT_SECRET=abcdefghgobbledegook1234
